@import url("https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer-menu li a:hover,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a,
button {
  color: #1f1f1f;
  outline: medium none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  color: #001d38;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  color: #4d4d4d;
  margin-bottom: 0.8rem;
  font-family: "Raleway", sans-serif;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
}

*::-moz-selection,
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder,
*::-ms-input-placeholder,
*::placeholder {
  color: #ccc;
  font-size: 0.8rem;
  opacity: 1;
}

.mb-65 {
  margin-bottom: 67px;
}

.black-bg {
  background: #020c26 !important;
}

.white-bg {
  background: #fff;
}

.gray-bg {
  background: #f5f5f5;
}

.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}

.bg-img-2 {
  background-image: url(../img/background-img/bg-img-2.jpg);
}

.cta-bg-1 {
  background-image: url(../img/background-img/bg-img-3.jpg);
}

.overlay,
.overlay2,
.overlay_03,
.bradcam_overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #001d38;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.overlay2::before,
.overlay_03::before {
  position: absolute;
  content: "";
  background-color: #001d38;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

.bradcam_overlay::before {
  position: absolute;
  content: "";
  background: -moz-linear-gradient(
    left,
    #5db2ff 0%,
    #65b4f9 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #5db2ff 0%,
    #65b4f9 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #5db2ff 0%,
    #65b4f9 24%,
    rgba(124, 185, 233, 0) 96%,
    rgba(125, 185, 232, 0) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

.section-padding {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.pt-120 {
  padding-top: 7.5rem;
}

/* button style */

.mb-20px {
  margin-bottom: 1.2rem;
}

.mb-55 {
  margin-bottom: 3.4rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mb-20 {
  margin-bottom: 1.2rem;
}

.mb-60 {
  margin-bottom: 3.2rem !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .mb-60 {
    margin-bottom: 1.9rem !important;
  }
}

@media (max-width: 767px) {
  .mb-60 {
    margin-bottom: 1.2rem !important;
  }
}

.boxed-btn {
  background: #fff;
  color: #131313;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #f91842;
  border-radius: 2px;
  letter-spacing: 3px;
  text-align: center;
  color: #f91842 !important;
  text-transform: uppercase;
  cursor: pointer;
}

.boxed-btn:hover {
  background: #f91842;
  color: #fff !important;
  border: 1px solid #f91842;
}

.boxed-btn:focus {
  outline: none;
}

.boxed-btn.large-width {
  width: 13.75rem;
}

.btn-result {
  background: #f91842;
  color: #131313;
  display: inline-block;
  padding: 10px 20px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border-radius: 2px;
  letter-spacing: 3px;
  text-align: center;
  color: #fff !important;
  text-transform: uppercase;
}

.boxed-btn:focus {
  outline: none;
  box-shadow: none;
}

#other-methods.show {
  display: flex;
}

.btn-verify {
  padding: 8px 24px;
}

.mb-60 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .mb-60 {
    margin-bottom: 40px;
  }
}

.navbar {
  background-color: #020c26;
}

.navbar-dark .navbar-toggler {
  border: none;
  box-shadow: none;
}

.navbar li a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
}

.navbar li a:hover {
  color: #f91842;
}

.action-buttons .nav-item a,
.action-buttons .nav-item a:active {
  color: #fff !important;
  padding: 8px 20px;
  font-weight: 500;
  background: transparent;
  line-height: normal;
}

.action-buttons .nav-item a:hover {
  color: #f91842;
}

.action-form {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}

.action-form a {
  color: #f91842;
  padding: 0 !important;
  font-size: 14px;
}

.action-form .hint-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 0.85rem;
}

.action-buttons .form-control {
  box-shadow: none;
  font-size: 0.85rem;
}

.action-buttons .btn-primary,
.action-buttons .btn-primary:active {
  color: #fff;
  background-color: #f91842 !important;
  border: none !important;
  box-shadow: none !important;
}

.action-buttons .btn-primary:hover,
.action-buttons .btn-primary:focus {
  color: #fff !important;
  background: #f91842 !important;
  box-shadow: none;
}

.action-buttons .dropdown-toggle::after {
  display: none !important;
}

@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  #navigation {
    display: block !important;
  }

  .action-buttons .nav-item:first-child a,
  .action-buttons .nav-item:first-child a:active {
    padding: 8px 0;
  }
}

@media (max-width: 768px) {
  .action-buttons .dropdown-menu.action-form {
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    border: none;
  }

  .action-buttons .form-inline {
    display: block;
  }

  .action-buttons .input-group {
    width: 100%;
  }
}

.slider_bg_1 {
  background-image: url(../img/banner/fake-news.jpg);
}

.slider_area {
  position: relative;
  z-index: 0;
}

.slider_area::before {
  background: -moz-linear-gradient(left, #001d38 0%, rgba(0, 29, 56, 0.6) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #001d38 0%,
    rgba(0, 29, 56, 0.6) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #001d38 0%, rgba(0, 29, 56, 0.6) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d38', endColorstr='#99001d38',GradientType=1 );
  /* IE6-9 */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.slider_area .single_slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right right;
}

.slider_area .single_slider .slider_text {
  padding-top: 20%;
  padding-bottom: 10%;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text {
    margin-top: 24px;
    margin-bottom: 20px;
  }
}

.slider_area .single_slider .slider_text h3 {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 3rem;
  color: #fff;
}

.slider_area .single_slider .slider_text h3 span {
  font-weight: 700;
}

.slider_area .single_slider .slider_text p {
  font-size: 3rem;
  font-weight: 400;
  color: #f91842;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5%;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    line-height: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .slider_text h3 {
    font-size: 20px;
  }

  .slider_area .single_slider .slider_text p {
    font-size: 2.2rem;
  }

  .about_mission .about_text h4 {
    font-size: 2rem !important;
  }
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text p {
    font-size: 2rem;
  }

  .about_mission .about_text h4 {
    font-size: 1.8rem !important;
  }
}

.slider_area .single_slider .slider_text .search_form {
  background: #fff;
  padding: 11px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.slider_area .single_slider .slider_text .search_form .input_field input {
  width: 100%;
  height: 1.9rem;
  border: none;
  padding: 15px;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text .search_form .input_field input {
    margin-bottom: 20px;
  }
}

.slider_area .single_slider .slider_text .search_form .input_field input:focus {
  outline: none;
}

.slider_area
  .single_slider
  .slider_text
  .search_form
  .input_field
  input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  font-family: "Raleway", sans-serif;
}

.slider_area .single_slider .slider_text .search_form .input_field.location {
  position: relative;
}

.slider_area
  .single_slider
  .slider_text
  .search_form
  .input_field.location
  input {
  padding-left: 45px;
  border-left: 1px solid #eaeaea;
}

@media (max-width: 767px) {
  .slider_area
    .single_slider
    .slider_text
    .search_form
    .input_field.location
    input {
    border-left: 1px solid transparent;
    padding-left: 15px;
  }
}

.slider_area
  .single_slider
  .slider_text
  .search_form
  .input_field.location:before {
  position: absolute;
  content: "\f041";
  font-family: fontawesome;
  font-size: 19px;
  color: #9191a0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 25px;
}

@media (max-width: 767px) {
  .slider_area
    .single_slider
    .slider_text
    .search_form
    .input_field.location:before {
    display: none;
  }
}

.slider_area .single_slider .slider_text .button_search {
  text-align: right;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text .button_search {
    text-align: left;
  }
}

.slider_area .single_slider .slider_text .quality {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text .quality {
    margin-top: 20px;
  }
}

.slider_area .single_slider .slider_text .quality ul li {
  display: inline-block;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text .quality ul li {
    margin-bottom: 10px;
  }
}

.slider_area .single_slider .slider_text .quality ul li button {
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: #000;
  font-family: "Raleway", sans-serif;
  padding: 5px 19px;
  display: inline-block;
  margin: 0 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.slider_area .single_slider .slider_text .quality ul li button:hover {
  background: #f91842;
}

.slider_area .serach_icon a {
  width: 45px;
  height: 45px;
  background: #fd8e5e;
  text-align: center;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
}

@media (max-width: 767px) {
  .slider_area .serach_icon a {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .serach_icon a {
    width: 50%;
  }
}

.slider_area .serach_icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: end;
  -moz-align-items: end;
  -ms-align-items: end;
  align-items: end;
}

@media (max-width: 767px) {
  .slider_area .serach_icon {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .serach_icon {
    width: 50%;
    align-items: center;
    margin-top: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single-field {
    margin-bottom: 20px;
  }
}

.slider_area .single-field.range_slider {
  width: 100%;
}

.slider_area .single-field.range_slider #slider {
  margin: 0;
}

.slider_area .single-field .nice-select .list {
  color: #000;
  border-radius: 0;
}

.slider_area .single-field.max_width {
  margin-right: 24px;
}

@media (max-width: 767px) {
  .slider_area .single-field.max_width {
    margin-right: 0;
  }
}

.slider_area .single-field.max_width label {
  display: block;
  font-size: 15px;
  color: #fdae5c;
}

.slider_area .single-field.max_width .nice-select.wide {
  width: 166px;
  background: transparent;
  color: #c7c7c7;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 45px;
  line-height: 45px;
}

@media (max-width: 767px) {
  .slider_area .single-field.max_width .nice-select.wide {
    width: 100%;
    margin-bottom: 15px;
  }
}

.slider_area .single-field.max_width .nice-select::after {
  content: "\e64b";
  display: block;
  height: 5px;
  margin-top: -5px;
  pointer-events: none;
  position: absolute;
  right: 1.9rem;
  top: 8px;
  transition: all 0.15s ease-in-out;
  width: 5px;
  font-family: "themify";
  color: #ddd;
  color: #ffffff;
  top: 5px;
  font-size: 12px;
}

.slider_area .single-field.min_width {
  margin-right: 24px;
}

@media (max-width: 767px) {
  .slider_area .single-field.min_width {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.slider_area .single-field.min_width label {
  display: block;
  font-size: 15px;
  color: #fdae5c;
}

.slider_area .single-field.min_width .nice-select.wide {
  width: 110px;
  background: transparent;
  color: #c7c7c7;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 45px;
  line-height: 45px;
}

@media (max-width: 767px) {
  .slider_area .single-field.min_width .nice-select.wide {
    width: 100%;
    margin-bottom: 15px;
  }
}

.slider_area .single-field.min_width .nice-select::after {
  content: "\e64b";
  display: block;
  height: 5px;
  margin-top: -5px;
  pointer-events: none;
  position: absolute;
  right: 1.9rem;
  top: 8px;
  transition: all 0.15s ease-in-out;
  width: 5px;
  font-family: "themify";
  color: #ddd;
  color: #ffffff;
  top: 5px;
  font-size: 12px;
}

/* Upload Image */

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: "Uploaded image result";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
}

.font-italic {
  font-size: 0.8rem !important;
}

.text-topic {
  color: #fff;
  font-size: 1.2rem;
}

.about_mission {
  padding-top: 80px;
  padding-bottom: 80px;
}

.motivation {
  padding-top: 0;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .about_mission {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .motivation {
    padding-top: 0;
    padding-bottom: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about_mission {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .motivation {
    padding-top: 0;
    padding-bottom: 35px;
  }
}

.about_mission .about_thumb {
  position: relative;
  margin-bottom: 1.5rem;
}

.about_mission .about_thumb img {
  width: 100%;
}

.about_mission .about_text {
  margin-bottom: 20px;
  padding-left: 68px;
  line-height: 1.8rem;
}

.motivation .about_text {
  padding-left: 0;
}

@media (max-width: 767px) {
  .about_mission .about_text {
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about_mission .about_text {
    padding-left: 0;
  }
}

.about_mission .about_text h4 {
  font-size: 42px;
  font-weight: 500;
  color: #001d38;
  margin-bottom: 15px;
}

.about_mission .about_text p {
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
  line-height: 28px;
  font-family: "Raleway", sans-serif;
}

.about_mission .about_text ul li {
  list-style: inside;
}

.ub {
  color: #f91842;
}

.ub:hover {
  color: #000;
  text-decoration: underline;
}

.btn-assert {
  background: #f91842;
  border-radius: 5px;
  color: #fff !important;
}

.btn-assert:hover {
  background: #f9f9f9;
  border-radius: 0px;
  color: #f91842 !important;
}

.newsletter_form {
  position: relative;
  margin-bottom: 20px;
}

.newsletter_form input {
  width: 100%;
  height: 45px;
  background: #fff;
  padding-left: 20px;
  font-size: 16px;
  color: #000;
  border: none;
}

.newsletter_form input::placeholder {
  font-size: 16px;
  color: #9191a0;
}

.newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #a70000;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
}

.newsletter_text {
  font-size: 16px;
  color: #bababa;
}

.sprayed_area {
  background-image: url(../img/banner/sprayed_bg.png);
  padding: 184px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .sprayed_area {
    padding: 100px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sprayed_area {
    padding: 100px 0;
  }
}

.sprayed_area .text h3 {
  font-size: 42px;
  font-weight: 300;
  color: #fff;
}

@media (max-width: 767px) {
  .sprayed_area .text h3 {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sprayed_area .text h3 {
    font-size: 1.9rem;
  }
}

.sprayed_area .text p {
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 42px;
  margin-top: 20px;
}

#slider {
  margin: 0px;
  height: 2px;
  background: #b18351;
  height: 2px;
  top: 19px;
}

input[type="checkbox"] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  font-family: "Raleway", sans-serif;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
  background-color: #f91842;
  border-color: #f91842;
  color: #fff;
}

input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type="checkbox"]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

input[type="checkbox"] + label::before {
  content: "\2714";
  border: 0.1em solid #d5d5d5;
  border-radius: 0.2em;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 0;
  padding-bottom: 0;
  margin-right: 0;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
  line-height: 18px;
  padding: 0 3px;
  margin-right: 12px;
}

input[type="checkbox"] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #727272;
  font-weight: 400;
}

.mt-50 {
  margin-top: 50px;
}

@media (max-width: 767px) {
  .mt-50 {
    margin-top: 1.9rem;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .mb-50 {
    margin-bottom: 1.9rem;
  }
}

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #001d38;
}

.footer p {
  font-family: "Raleway", sans-serif !important;
}

.footer .footer_top {
  padding-top: 80px;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .footer .footer_top {
    padding-top: 60px;
    padding-bottom: 1.9rem;
  }
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget {
    margin-bottom: 1.9rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .footer_top .footer_widget {
    margin-bottom: 1.9rem;
  }
}

.footer .footer_top .footer_widget .footer_title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
  margin-top: 0.7rem;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget .footer_title {
    margin-bottom: 20px;
  }
}

.footer .footer_top .footer_widget .footer_logo {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .footer .footer_top .footer_widget .footer_logo {
    margin-bottom: 20px;
  }
}

.footer .footer_top .footer_widget p {
  color: #9191a0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer .footer_top .footer_widget p a {
  color: #9191a0;
}

.footer .footer_top .footer_widget p a:hover {
  color: #fff;
}

.footer .footer_top .footer_widget p.footer_text {
  font-size: 16px;
  color: #b2b2b2;
  margin-bottom: 23px;
  font-weight: 400;
  line-height: 28px;
}

.footer .footer_top .footer_widget p.footer_text a.domain {
  color: #b2b2b2;
  font-weight: 400;
}

.footer .footer_top .footer_widget p.footer_text a.domain:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.footer .footer_top .footer_widget p.footer_text.doanar a {
  font-weight: 500;
  color: #b2b2b2;
}

.footer .footer_top .footer_widget p.footer_text.doanar a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.footer .footer_top .footer_widget p.footer_text.doanar a.first {
  margin-bottom: 10px;
}

.footer .footer_top .footer_widget ul li {
  color: #9191a0;
  font-size: 13px;
  line-height: 42px;
}

.footer .footer_top .footer_widget ul li a {
  color: #9191a0;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.footer .footer_top .footer_widget ul li a:hover {
  color: #fff;
}

.footer .footer_top .footer_widget .newsletter_form {
  position: relative;
  margin-bottom: 20px;
}

.footer .footer_top .footer_widget .newsletter_form input {
  width: 100%;
  height: 50px;
  background: transparent;
  padding-left: 20px;
  font-size: 15px;
  color: #fff;
  border: none;
  border: 1px solid #334a60;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
}

.footer .footer_top .footer_widget .newsletter_form input::placeholder {
  font-size: 14px;
  color: #9191a0;
}

.footer .footer_top .footer_widget .newsletter_form input:focus {
  outline: none;
}

.footer .footer_top .footer_widget .newsletter_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #fff;
  background: #f91842;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
  border-radius: 5px;
  top: 5px;
  right: 5px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.footer .footer_top .footer_widget .newsletter_text {
  font-size: 13px;
  color: #9191a0;
  line-height: 26px;
}

.footer .copy-right_text {
  padding-bottom: 1.9rem;
}

.footer .copy-right_text .copy_right {
  font-size: 15px;
  color: #9191a0;
  margin-bottom: 0;
  font-weight: 500;
}

@media (max-width: 767px) {
  .footer .copy-right_text .copy_right {
    font-size: 13px;
  }
}

.footer .copy-right_text .copy_right a {
  color: #f91842;
}

.footer .social_links {
  margin-top: 47px;
}

@media (max-width: 767px) {
  .footer .social_links {
    margin-top: 1.9rem;
  }
}

.footer .social_links ul li {
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer .social_links ul li a {
  font-size: 15px;
  width: 38px;
  height: 38px;
  display: inline-block;
  text-align: center;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 40px !important;
  margin-right: 7px;
  color: #ffffff !important;
  line-height: 40px !important;
  background: #3b5797;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer .social_links ul li:nth-child(2) a {
  background: #00aced;
}

.footer .social_links ul li:nth-child(3) a {
  /* background: #ac907a; */
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.footer .social_links ul li:nth-child(4) a {
  background: #000;
}

.footer .social_links ul li:nth-child(5) a {
  background: #0077b5;
}

.footer .social_links ul li:hover a {
  color: #fff !important;
  background: #f91842;
  border-color: transparent;
}

.bradcam_bg_1 {
  background-image: url(../img/banner/fake-news.jpg);
}

.bradcam_bg_2 {
  background-image: url(../img/banner/about-back.jpg);
}

.bradcam_bg_3 {
  background-image: url(../img/banner/cont-back.jpg);
}

.bradcam_area {
  background-size: cover;
  background-position: center center;
  padding: 13.75rem 0 194px 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .bradcam_area {
    padding: 120px 0;
  }
}

.bradcam_area::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#001d38+0,001d38+100&1+0,0.6+100 */
  background: -moz-linear-gradient(top, #001d38 0%, rgba(0, 29, 56, 0.6) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #001d38 0%,
    rgba(0, 29, 56, 0.6) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #001d38 0%, rgba(0, 29, 56, 0.6) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d38', endColorstr='#99001d38',GradientType=0 );
  /* IE6-9 */
  z-index: -1;
  content: "";
}

@media (max-width: 767px) {
  .bradcam_area {
    padding: 150px 0;
  }
}

.bradcam_area h3 {
  font-size: 70px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .bradcam_area h3 {
    font-size: 1.9rem;
  }
}

.bradcam_area p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
}

.bradcam_area p a {
  color: #fff;
}

.bradcam_area p a:hover {
  color: #fff;
}

.bradcam_area .icon {
  background: #ff5748;
  width: 136px;
  height: 136px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 136px;
  margin: auto;
}

.bradcam_area .icon i {
  color: #fff;
  font-size: 68px;
}

.bradcam_area h4 {
  font-size: 70px;
  font-weight: 300;
  color: #fff;
  margin: 10px 0;
}

@media (max-width: 767px) {
  .bradcam_area h4 {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bradcam_area h4 {
    font-size: 40px;
  }
}

.bradcam_area p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

/*=================== contact banner start ====================*/

.contact-info {
  margin-bottom: 25px;
}

.contact-info__icon {
  margin-right: 20px;
}

.contact-info__icon i,
.contact-info__icon span {
  color: #9191a0;
  font-size: 28px;
}

.contact-info .media-body h3 {
  font-size: 1rem;
  margin-bottom: 0;
  color: #2a2a2a;
}

.contact-info .media-body h3 a:hover {
  color: #ff5e13;
}

.contact-info .media-body p {
  color: #8a8a8a;
  font-size: 0.9rem;
}

/*=================== contact banner end ====================*/
/*=================== contact form start ====================*/
.contact-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form-contact label {
  font-size: 14px;
}

.form-contact .form-group {
  margin-bottom: 1.9rem;
}

.form-contact .form-control {
  color: #fff !important;
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

.index-form {
  color: #f9f9f9;
}

.form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.form-control {
  border-radius: 0 !important;
}

.index-form .form-control::placeholder {
  font-weight: 300;
  color: #f9f9f9;
}

.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;
  color: #fff !important;
  /* background-color: #020c26; */
}

/*=================== contact form end ====================*/
/* Contact Success and error Area css
============================================================================================ */

.modal-message .modal-dialog {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  margin: 0px;
  max-width: 500px;
  width: 100%;
}

.modal-message .modal-dialog .modal-content .modal-header {
  text-align: center;
  display: block;
  border-bottom: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

.modal-message .modal-dialog .modal-content .modal-header .close {
  position: absolute;
  right: -15px;
  top: -15px;
  padding: 0px;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.modal-message .modal-dialog .modal-content .modal-header h2 {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}

.modal-message .modal-dialog .modal-content .modal-header p {
  display: block;
}

.contact-section {
  margin: 5rem auto 4rem auto;
}

@media (max-width: 991px) {
  .contact-section {
    margin: 4rem auto 3rem auto;
  }
}

.contact-section .btn_2 {
  background-color: #191d34;
  padding: 18px 60px;
  border-radius: 50px;
  margin-top: 0;
}

.contact-section .btn_2:hover {
  background-color: #ff5e13;
}

.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0;
}

.text-heading {
  margin-bottom: 1.9rem;
  font-size: 24px;
}

.mb-30 {
  margin-bottom: 1.9rem;
}

.mt-30 {
  margin-top: 1.9rem;
}

#team {
  background: #eee !important;
}

#team .btn-primary:hover,
#team .btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

#team .btn-primary {
  color: #fff;
  background-color: #001d38;
  border-color: #001d38;
}

.section-title {
  text-align: center;
  color: #001d38;
  margin-bottom: 2.5rem;
}

.frontside img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.frontside .me-text {
  margin: 2rem;
  margin-bottom: 3rem;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 15rem;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/bg.jpg") no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

/* 404 Page */
.notfound h2 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.notfound p {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.notfound a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #1e1c6b;
  display: inline-block;
  padding: 15px 1.9rem;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px #562f65;
  box-shadow: 0px 4px 15px -5px #562f65;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 142px;
  }
  .notfound .notfound-404 h1 {
    font-size: 112px;
  }
}
