{% extends "layout.html" %} {% block title %}Contact - {% endblock %} {% block
content %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>Contact</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ bradcam_area  -->
<!-- ================ contact section start ================= -->
<section class="contact-section my-9">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="contact-title">Get in Touch</h2>
      </div>
      <div class="col-lg-8">
        <form class="form-contact contact_form" id="contactForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  class="form-control"
                  name="name"
                  id="name"
                  type="text"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Enter your name'"
                  placeholder="Enter your name"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input
                  class="form-control"
                  name="email"
                  id="email"
                  type="email"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Enter email address'"
                  placeholder="Enter email address"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea
                  class="form-control w-100"
                  name="message"
                  id="message"
                  cols="30"
                  rows="6"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Enter Message'"
                  placeholder="Enter Message"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <button
              type="submit"
              class="button button-contactForm btn_4 boxed-btn"
            >
              Send Message
            </button>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="media contact-info">
          <span class="contact-info__icon"
            ><i class="fa fa-home" aria-hidden="true"></i
          ></span>
          <div class="media-body">
            <h3>Untarred Malingo - Molyko</h3>
            <p>Buea, Cameroon.</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"
            ><i class="fa fa-tablet" aria-hidden="true"></i
          ></span>
          <div class="media-body">
            <h3>+(237) 680 516 831</h3>
            <p>Mon to Fri 9am to 5pm</p>
          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"
            ><i class="fa fa-envelope-o" aria-hidden="true"></i
          ></span>
          <div class="media-body">
            <h3>djotchuangtamo@gmail.com</h3>
            <p>Send me your query anytime!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================ contact section end ================= -->

{% endblock %}
